<configuration scan="true" scanPeriod="30 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>cointrader.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.hibernate.ejb.HibernatePersistence" level="error"/>

    <logger name="org.cryptocoinpartners" level="info"/>
    <!--<logger name="org.cryptocoinpartners.module" level="debug"/>-->
    <!--<logger name="org.hibernate.tool.hbm2ddl.SchemaExport" level="off"/>-->
    <!--<logger name="org.cryptocoinpartners.util.Config" level="debug"/>-->

</configuration>